# Retail Case Study - Walmart 
## [Nagendhar Reddy Vuppunuthula]

### reddy.vuppunuthula@gmail.com

This is a retail case study. Help a major retailer forecast their sales!

DataSet :https://www.kaggle.com/c/retailcasestudy

Regression Algorithm : GradientBoostingRegressor

Modify : Weather data by merging all sheets into first sheet[2009] - > Code only reads from first sheet for weather Data

In [384]:
import pandas as pd
itrain = pd.read_csv('train_kaggle.csv')
itest = pd.read_csv('test_kaggle.csv')

In [385]:
macroeconomy = pd.read_excel('MacroEconomicData.xlsx',sheetname='Sheet1')
macroeconomy.head(2)

C:\ProgramData\Anaconda3\anakonda\lib\site-packages\pandas\util\_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10

In [386]:
#copy the train test into another duplicate set
train=itrain
test=itest

In [387]:
train['Year-Month']=train['Year'].astype(str)+'-'+train['Month'].astype(str)
train.head(5)
del train['Year']
del train['Month']

In [388]:
test['Year-Month']=test['Year'].astype(str)+'-'+test['Month'].astype(str)
test.head(5)
del test['Year']
del test['Month']

In [389]:
macroeconomy.head(2)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10

In [390]:
macroeconomy['Year'],macroeconomy['Month']=macroeconomy['Year-Month'].str.split('-',1).str

In [391]:
macroeconomy.head(5)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,Jan
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,Feb
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,Mar
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,Apr
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,May

In [392]:
from time import strptime
months=[]
for month in macroeconomy['Month']:
    months.append(strptime(month.strip(),'%b').tm_mon)
macroeconomy['Month']=months

In [393]:
macroeconomy.head(5)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,1
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,2
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,3
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,4
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,5

In [394]:
years=[]
for year in macroeconomy['Year']:
    years.append(year.strip())
macroeconomy['Year']=years

In [395]:
macroeconomy.head(5)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,1
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,2
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,3
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,4
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,5

In [396]:
macroeconomy['Year-Month']=macroeconomy['Year'].astype(str)+'-'+macroeconomy['Month'].astype(str)

del macroeconomy['Year']
del macroeconomy['Month']

In [397]:
macroeconomy.head(5)

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009-2,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009-3,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009-4,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009-5,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [398]:
train.head(5)

  ProductCategory  Sales(In ThousandDollars) Year-Month
0   WomenClothing                     1755.0     2009-1
1     MenClothing                      524.0     2009-1
2   OtherClothing                      936.0     2009-1
3   WomenClothing                     1729.0     2009-2
4     MenClothing                      496.0     2009-2

In [399]:
mid_train=train.merge(macroeconomy,how='outer',on=['Year-Month'])
mid_train.head(10)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
5,OtherClothing,859.0,2009-2,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
6,WomenClothing,2256.0,2009-3,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
7,MenClothing,542.0,2009-3,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
8,OtherClothing,921.0,2009-3,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
9,WomenClothing,2662.0,2009-4,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225

In [400]:
mid_test=test.merge(macroeconomy,how='outer',on=['Year-Month'])
mid_test.head(5)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,WomenClothing,NaN,2015-1,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,24.88,?,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
1,MenClothing,NaN,2015-1,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,24.88,?,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
2,OtherClothing,NaN,2015-1,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,24.88,?,67.35,-1.39,10.845,9.518,760,15.496,3.775,9.45
3,WomenClothing,NaN,2015-2,17931.046190,16400.926737,259.240,Democrats,5.5,11.98,9.85,25.05,?,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20
4,MenClothing,NaN,2015-2,17931.046190,16400.926737,259.240,Democrats,5.5,11.98,9.85,25.05,?,69.84,3.70,10.845,9.518,781,15.496,3.625,10.20

In [401]:
macroeconomy.shape

(96, 18)

In [402]:
train.shape

(216, 3)

In [403]:
test.shape

(36, 3)

In [404]:
mid_train.shape

(240, 20)

In [405]:
mid_test.shape

(120, 20)

In [406]:
#itrain.head(5)

In [407]:
#isWomenClothing_train = itrain['ProductCategory'] == "WomenClothing"
#itrain_wc=itrain[isWomenClothing_train]

#ismenClothing_train = itrain['ProductCategory'] == "MenClothing"
#itrain_mc=itrain[ismenClothing_train]

#isotherClothing_train = itrain['ProductCategory'] == "OtherClothing"
#itrain_oc=itrain[isotherClothing_train]

In [408]:
#import pandas as pan
#train_wc=pan.merge(macroeconomy,itrain_wc,how='outer',on=['Year','Month'])
#train_wc=pan.merge(itrain_wc, macroeconomy, left_on=['Year','Month'])

In [409]:
#train_wc.head(10)

In [410]:
#itrain_wc.head(5)

In [411]:
#macroeconomy.head(5)

In [412]:
mid_train.to_csv("trainwithmacro.csv")
mid_test.to_csv("testwithmacro.csv")

In [413]:
import pandas as pd
weather=pd.read_excel('WeatherData_Updated.xlsx',sheet_name='2009')
#weather=pd.read_csv('WeatherData_Updated.csv')
#w2010=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2010')
#w2011=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2011')
#w2012=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2012')
#w2013=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2013')
#w2014=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2014')
#w2015=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2015')
#w2016=pd.read_excel('WeatherData_Updated.xlsx',sheetname='2016')

In [414]:
weather.head(5)

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,Jan,3,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,Jan,4,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,Jan,5,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN

In [415]:
weather.keys()

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [416]:
for key in weather.keys():
    if "Precip." in key:
        del weather[key]

In [417]:
#del weather["WeatherEvent"]

In [418]:
weather.head(2)

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1025,1023,1015,16,16,16,37,18,60,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1022,1012,1007,16,13,2,27,10,48,Snow

In [419]:
from time import strptime
months=[]
for month in weather['Month']:
    months.append(strptime(month.strip(),'%b').tm_mon)
weather['Month']=months

In [420]:
weather.head(5)

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,WeatherEvent
0,2009,1,1,-3,-6,-9,-16,-17,-19,54,...,1025,1023,1015,16,16,16,37,18,60,NaN
1,2009,1,2,1,-2,-5,-3,-7,-17,78,...,1022,1012,1007,16,13,2,27,10,48,Snow
2,2009,1,3,3,1,-2,-5,-9,-13,72,...,1018,1015,1008,16,16,16,27,16,42,NaN
3,2009,1,4,6,1,-4,-10,-12,-13,55,...,1020,1017,1015,16,16,16,32,12,40,NaN
4,2009,1,5,6,5,3,-1,-5,-16,62,...,1016,1014,1013,16,16,16,23,11,34,NaN

In [421]:
weather['Year-Month']=weather['Year'].astype(str)+'-'+weather['Month'].astype(str)

del weather['Year']
del weather['Month']

In [422]:
weather.head(1)

,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,WeatherEvent,Year-Month
0,1,-3,-6,-9,-16,-17,-19,54,43,32,...,1023,1015,16,16,16,37,18,60,NaN,2009-1

In [423]:
weather.keys()

Index(['Day', 'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
       'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
       'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
       'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg',
       'Sea Level Press. (hPa) low', 'Visibility (km) high',
       'Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
       'Wind (km/h) avg', 'Wind (km/h) high', 'WeatherEvent', 'Year-Month'],
      dtype='object')

In [424]:
for key in weather.keys():
    if key not in ['Year-Month','Day']:
        weather[key] = weather[key].convert_objects(convert_numeric=True)

C:\ProgramData\Anaconda3\anakonda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

In [425]:
weather['WeatherEvent'] = weather['WeatherEvent'].astype('str') 

col_names =  ['index','Rain', 'Snow', 'Fog', 'Year-Month']

WeatherCount  = pd.DataFrame(columns = col_names)  

for item, frame in weather['WeatherEvent'].iteritems():
            WeatherCount.at[item, 'Rain'] = 0
            WeatherCount.at[item, 'Snow'] = 0
            WeatherCount.at[item, 'Fog'] = 0
    
for item, frame in weather['WeatherEvent'].iteritems():
        if frame=='nan':
            WeatherCount.at[item, 'Rain'] = 0
            WeatherCount.at[item, 'Snow'] = 0
            WeatherCount.at[item, 'Fog'] = 0
        else :
            frame_split=frame.split(',')
            for tup in frame_split:

                if tup.strip() == 'Rain':
                    WeatherCount.at[item, 'Rain']=WeatherCount.at[item, 'Rain'] + 1
                if tup.strip()  == 'Snow':
                    WeatherCount.at[item, 'Snow']=WeatherCount.at[item, 'Snow'] + 1
                if tup.strip()  == 'Fog':
                    WeatherCount.at[item, 'Fog']=WeatherCount.at[item, 'Fog'] + 1
                    
WeatherCount['Year-Month']=weather['Year-Month']


def WeatherAgregator_mean(data):
    #data = pd.read_csv(weatherfile)
    data_mod = data.groupby(['Year-Month']).mean()
    #del data_mod["Day"]
    return data_mod  

def WeatherAgregator_sum(data):
    #data = pd.read_csv(weatherfile)
    data_mod = data.groupby(['Year-Month']).sum()
    #del data_mod["Day"]
    return data_mod  

weather_mergedmean=WeatherAgregator_mean(weather)
weather_mergedsum=WeatherAgregator_sum(WeatherCount)

# Concat the two datasets combine
weather_merged = pd.concat([weather_mergedmean,weather_mergedsum],axis=1)
del weather_merged["Day"]
weather.dtypes
del weather_merged['index']

In [426]:
#weather is merged_Dataset
weather_merged

,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,Humidity (%) avg,Humidity (%) low,Sea Level Press. (hPa) high,...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Rain,Snow,Fog
Year-Month,,,,,,,,,,,,,,,,,,,,,
2009-1,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,71.774194,57.354839,42.322581,1021.290323,...,1010.516129,16.000000,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
2009-10,16.258065,12.870968,9.354839,9.838710,7.032258,3.903226,85.903226,69.354839,52.419355,1020.354839,...,1013.064516,16.000000,14.064516,11.129032,23.516129,9.677419,34.419355,14,0,1
2009-11,13.733333,10.800000,7.566667,7.000000,4.166667,1.433333,80.466667,66.600000,52.233333,1022.266667,...,1015.633333,16.000000,14.666667,11.833333,25.866667,11.133333,36.733333,10,0,0
2009-12,5.451613,2.354839,-1.032258,-0.935484,-4.677419,-8.709677,77.612903,61.741935,45.258065,1022.483871,...,1012.193548,16.000000,13.774194,10.677419,28.580645,13.451613,42.838710,8,5,3
2009-2,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,69.535714,54.000000,38.107143,1021.714286,...,1012.464286,16.000000,15.178571,13.285714,27.928571,12.214286,41.642857,5,2,1
2009-3,9.838710,5.967742,1.774194,0.258065,-2.903226,-6.741935,74.096774,57.064516,39.548387,1025.096774,...,1017.032258,16.000000,14.258065,10.677419,27.000000,11.387097,38.612903,7,2,3
2009-4,17.100000,12.733333,7.833333,6.233333,2.533333,-1.200000,75.466667,55.700000,35.733333,1018.833333,...,1010.433333,15.900000,14.066667,10.866667,27.300000,11.366667,39.566667,12,0,1
2009-5,21.354839,17.000000,12.483871,12.967742,10.096774,6.516129,85.645161,68.516129,50.935484,1020.419355,...,1014.129032,15.903226,12.451613,9.000000,22.379310,8.000000,32.620690,14,0,4
2009-6,23.666667,19.866667,15.833333,17.100000,15.366667,13.133333,95.200000,78.866667,61.633333,1013.300000,...,1008.733333,15.900000,11.833333,5.933333,21.344828,7.379310,30.535714,20,0,5
2009-7,26.838710,22.741935,18.225806,18.838710,16.451613,13.612903,88.612903,70.806452,52.483871,1015.903226,...,1011.193548,16.000000,12.935484,8.451613,21.612903,7.903226,31.935484,13,0,6
2009-8,27.967742,24.387097,20.548387,20.451613,18.483871,16.129032,88.870968,72.483871,55.677419,1018.225806,...,1013.387097,16.000000,14.483871,9.903226,19.290323,6.806452,28.064516,13,0,5
2009-9,22.766667,19.233333,15.333333,15.066667,12.766667,10.133333,86.400000,69.700000,52.366667,1021.733333,...,1015.100000,16.000000,15.033333,13.433333,23.000000,9.266667,32.400000,7,0,1
2010-1,3.387097,0.451613,-2.774194,-4.935484,-7.258065,-10.354839,71.290323,58.129032,44.483871,1017.967742,...,1010.290323,16.000000,14.741935,11.903226,26.387097,11.903226,37.800000,5,6,2
2010-10,18.419355,14.612903,10.645161,10.161290,7.096774,3.129032,80.838710,63.645161,45.774194,1015.387097,...,1008.677419,16.000000,14.225806,10.548387,23.967742,10.032258,36.600000,10,0,2
2010-11,12.033333,9.000000,5.633333,3.966667,0.766667,-2.900000,74.800000,59.533333,43.766667,1023.333333,...,1014.000000,16.000000,14.833333,12.600000,24.100000,10.100000,36.100000,8,0,0
2010-12,3.096774,0.612903,-2.322581,-4.645161,-6.935484,-9.806452,70.096774,58.322581,46.129032,1015.032258,...,1006.935484,15.741935,14.193548,11.935484,28.193548,13.290323,41.741935,3,4,4
2010-2,3.321429,0.821429,-1.964286,-3.571429,-6.071429,-8.321429,75.071429,63.535714,51.392857,1011.785714,...,1003.785714,15.928571,13.000000,9.785714,27.464286,12.928571,39.928571,4,10,4
2010-3,12.806452,9.258065,5.193548,2.967742,-0.290323,-3.516129,72.354839,58.290323,43.774194,1015.612903,...,1007.354839,15.838710,13.838710,11.000000,29.032258,12.806452,41.709677,13,1,0
2010-4,19.566667,14.466667,9.133333,6.266667,3.133333,-1.333333,73.533333,52.800000,31.566667,1016.600000,...,1010.100000,16.000000,14.466667,11.633333,23.766667,10.200000,35.566667,7,0,0
2010-5,23.516129,18.612903,13.419355,13.258065,10.096774,6.387097,83.000000,62.741935,42.161290,1018.612903,...,1012.870968,16.000000,14.935484,11.935484,23.935484,8.967742,35.774194,9,0,1
2010-6,28.500000,23.800000,19.033333,18.166667,15.533333,12.166667,82.766667,64.066667,44.900000,1015.100000,...,1009.066667,16.000000,14.233333,10.333333,21.700000,8.000000,32.033333,10,0,4
2010-7,32.258065,27.548387,22.516129,19.483871,17.387097,14.258065,76.096774,58.032258,39.419355,1015.774194,...,1012.129032,16.000000,15.000000,11.580645,21.258065,7.516129,32.333333,10,0,4
2010-8,29.580645,25.290323,20.838710,19.161290,16.548387,13.419355,80.387097,62.935484,45.096774,1017.451613,...,1013.193548,16.000000,15.000000,12.419355,20.612903,8.096774,30.133333,8,0,2
2010-9,25.900000,21.800000,17.433333,16.900000,13.700000,10.400000,81.233333,63.566667,45.333333,1018.166667,...,1011.366667,15.866667,13.700000,10.133333,21.733333,8.733333,34.379310,8,0,3
2011-1,1.548387,-1.096774,-4.032258,-5.225806,-7.806452,-11.612903,75.483871,61.516129,47.064516,1019.322581,...,1010.000000,15.548387,12.387097,8.709677,24.806452,10.387097,35.096774,4,12,8
2011-10,17.612903,14.096774,10.225806,10.387097,7.645161,4.161290,84.806452,67.903226,50.387097,1018.967742,...,1012.000000,16.000000,14.032258,10.870968,20.774194,8.612903,33.034483,10,2,2
2011-11,14.733333,11.166667,7.300000,7.433333,4.366667,1.133333,79.733333,64.166667,47.966667,1022.766667,...,1015.266667,16.000000,14.566667,11.566667,22.866667,9.100000,33.766667,9,0,1
2011-12,9.838710,6.483871,2.677419,3.935484,-0.516129,-4.548387,76.419355,62.483871,48.032258,1025.806452,...,1015.354839,16.000000,14.645161,11.967742,24.806452,9.387097,37.533333,9,0,1
2011-2,6.428571,2.428571,-2.035714,-2.535714,-6.857143,-12.392857,69.250000,52.607143,35.392857,1021.714286,...,1009.392857,15.892857,13.642857,11.285714,30.321429,12.250000,44.607143,8,3,3
2011-3,9.967742,5.838710,1.451613,0.193548,-3.387097,-7.580645,73.225806,56.096774,38.483871,1024.645161,...,1014.483871,16.000000,14.000000,11.193548,27.258065,12.290323,41.774194,9,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-4,16.233333,11.466667,6.266667,4.800000,0.566667,-3.966667,73.066667,53.533333,33.566667,1021.400000,...,1012.433333,16.000000,14.700000,11.900000,24.666667,10.133333,38.933333,12,3,1
2014-5,22.161290,17.612903,12.806452,11.645161,8.096774,4.548387,77.032258,59.967742,42.387097,1019.258065,...,1013.225806,15.741935,12.709677,9.096774,22.064516,7.290323,35.333333,12,0,3
2014-6,26.700000,22.400000,17.800000,16.466667,13.866667,10.833333,79.833333,62.600000,44.866667,1018.400000,...,1013.433333,15.933333,13.633333,10.066667,18.700000,6.633333,30.333333,10,0,2
2014-7,28.548387,24.677419,20.483871,18.838710,16.451613,13.451613,80.935484,63.967742,46.483871,1017.258065,...,1012.161290,15.645161,13.967742,10.483871,23.645161,11.709677,37.241379,11,0,3
2014-8,27.903226,23.612903,19.064516,16.806452,14.451613,11.709677,77.548387,60.354839,42.548387,1018.677419,...,1014.838710,16.000000,15.064516,12.161290,17.774194,6.000000,29.580645,6,0,0
2014-9,25.600000,21.366667,16.933333,15.966667,13.266667,10.200000,79.200000,62.400000,45.166667,1022.533333,...,1016.166667,16.000000,14.833333,12.266667,19.033333,6.633333,31.000000,7,0,1
2015-1,2.290323,-1.032258,-4.677419,-5.548387,-9.612903,-14.741935,68.967742,53.645161,37.838710,1025.032258,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
2015-10,18.580645,14.483871,10.387097,8.709677,5.516129,2.322581,71.483871,57.032258,42.161290,1022.516129,...,1015.709677,16.000000,15.161290,12.677419,21.258065,8.451613,34.258065,7,0,2
2015-11,15.033333,11.633333,7.966667,7.200000,3.566667,-0.266667,74.866667,60.300000,45.100000,1026.214286,...,1017.678571,16.000000,14.814815,12.333333,21.535714,7.821429,34.035714,6,0,0
2015-12,13.548387,10.548387,7.451613,7.419355,4.096774,0.645161,78.645161,65.677419,52.258065,1023.935484,...,1014.096774,15.523810,12.333333,6.666667,21.645161,8.451613,33.709677,17,0,0
2015-2,0.000000,-4.250000,-9.071429,-8.285714,-12.428571,-17.535714,68.357143,53.892857,39.107143,1022.750000,...,1012.857143,15.857143,13.428571,8.892857,26.892857,11.750000,42.142857,3,11,2
2015-3,7.258065,3.516129,-0.612903,-1.193548,-6.096774,-11.451613,72.612903,54.000000,35.064516,1024.161290,...,1014.354839,15.774194,12.935484,8.580645,25.806452,9.838710,40.903226,12,6,3
2015-4,17.066667,12.533333,7.833333,5.166667,0.800000,-3.566667,69.033333,50.866667,32.233333,1019.433333,...,1011.466667,16.000000,14.700000,12.333333,26.700000,10.433333,42.100000,8,0,1
2015-5,25.677419,20.483871,14.774194,12.774194,9.870968,6.709677,74.354839,56.709677,38.451613,1022.870968,...,1017.741935,15.935484,14.032258,10.645161,21.129032,6.806452,34.225806,6,0,1
2015-6,25.800000,21.866667,17.733333,17.133333,14.300000,10.833333,81.000000,65.033333,48.400000,1017.700000,...,1012.066667,16.000000,13.100000,8.900000,21.100000,7.533333,33.800000,14,0,0
2015-7,29.967742,26.129032,22.129032,19.096774,16.548387,13.612903,74.354839,59.096774,43.258065,1014.903226,...,1010.774194,16.000000,14.161290,9.451613,18.000000,5.483871,30.032258,9,0,6
2015-8,30.516129,26.322581,21.677419,17.580645,15.290323,12.709677,70.806452,54.870968,38.322581,1017.000000,...,1013.516129,16.000000,15.354839,13.096774,18.548387,5.903226,30.451613,5,0,1
2015-9,28.133333,23.700000,18.966667,16.866667,14.400000,11.266667,75.066667,58.633333,41.600000,1021.000000,...,1015.800000,15.766667,14.766667,11.933333,19.433333,7.033333,30.166667,5,0,1
2016-1,4.870968,1.483871,-2.225806,-4.032258,-7.903226,-11.419355,64.258065,51.677419,38.677419,1020.129032,...,1011.000000,15.741935,14.677419,11.935484,26.354839,11.225806,42.566667,4,5,2
2016-10,18.774194,14.967742,10.967742,11.806452,8.516129,4.935484,84.000000,67.258065,49.903226,1023.032258,...,1015.838710,15.935484,13.838710,10.000000,20.580645,7.419355,34.612903,6,0,2
2016-11,13.633333,9.866667,6.000000,4.333333,1.600000,-1.833333,73.100000,57.733333,41.766667,1020.833333,...,1013.600000,15.900000,14.366667,11.833333,22.300000,8.400000,36.800000,8,1,2
2016-12,6.548387,3.645161,0.483871,-0.709677,-3.967742,-8.419355,73.193548,57.483871,41.451613,1024.580645,...,1014.548387,16.000000,14.096774,10.290323,24.677419,9.870968,40.000000,10,3,2
2016-2,7.103448,3.241379,-0.724138,-1.000000,-5.379310,-10.379310,70.793103,55.068966,38.896552,1021.724138,...,1010.379310,16.000000,13.827586,10.068966,26.965517,11.793103,44.103448,11,5,3
2016-3,14.161290,9.483871,4.645161,3.096774,-1.193548,-5.774194,71.258065,51.838710,31.967742,1021.096774,...,1012.322581,16.000000,14.129032,10.548387,27.225806,10.612903,43.516129,7,3,0
2016-4,16.800000,11.966667,6.833333,5.200000,0.066667,-5.533333,70.100000,49.633333,28.700000,1020.900000,...,1012.600000,16.000000,15.300000,12.700000,26.633333,10.066667,38.366667,11,1,0
2016-5,21.258065,17.193548,12.774194,11.032258,8.064516,4.677419,77.419355,61.032258,44.225806,1017.857143,...,1013.678571,15.750000,13.428571,9.571429,19.250000,6.928571,32.960000,11,0,1
2016-6,27.100000,22.433333,17.466667,15.666667,12.633333,8.866667,76.833333,58.833333,40.433333,1016.166667,...,1010.900000,15.766667,13.500000,9.400000,20.500000,6.933333,33.700000,9,0,1
2016-7,30.129032,26.064516,21.774194,20.483871,18.161290,15.290323,82.483871,64.677419,46.516129,1016.516129,...,1011.967742,15.548387,12.516129,7.483871,19.387097,6.258065,32.806452,13,0,5
2016-8,30.354839,26.354839,22.161290,20.838710,18.354839,15.709677,81.419355,64.709677,47.096774,1019.620690,...,1014.931034,15.931034,14.103448,9.310345,17.931034,5.931034,30.888889,10,0,2
2016-9,26.166667,22.133333,18.066667,17.266667,14.566667,11.333333,82.133333,65.033333,47.500000,1021.333333,...,1016.600000,15.833333,14.066667,10.000000,20.433333,7.833333,33.655172,7,0,2

In [427]:
#del weather_mod['Day']

In [428]:
weather_merged.to_csv("weather_avg.csv")

In [429]:
import pandas as pd
finalweather=pd.read_csv("weather_avg.csv")

In [430]:
train_macro_weather=mid_train.merge(finalweather,how='outer',on=['Year-Month'])
train_macro_weather.head(5)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Rain,Snow,Fog
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,5,2,1
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,5,2,1

In [431]:
test_macro_weather=mid_test.merge(finalweather,how='outer',on=['Year-Month'])
test_macro_weather.head(5)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Rain,Snow,Fog
0,WomenClothing,NaN,2015-1,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
1,MenClothing,NaN,2015-1,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
2,OtherClothing,NaN,2015-1,17792.116953,16319.786314,258.376,Democrats,5.7,11.99,10.47,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
3,WomenClothing,NaN,2015-2,17931.046190,16400.926737,259.240,Democrats,5.5,11.98,9.85,...,1012.857143,15.857143,13.428571,8.892857,26.892857,11.750000,42.142857,3,11,2
4,MenClothing,NaN,2015-2,17931.046190,16400.926737,259.240,Democrats,5.5,11.98,9.85,...,1012.857143,15.857143,13.428571,8.892857,26.892857,11.750000,42.142857,3,11,2

In [432]:
train_macro_weather.to_csv("Train_macro_weath.csv")
test_macro_weather.to_csv("Test_macro_weath.csv")

In [433]:
train_macro_weather.shape

(240, 41)

In [434]:
trainafterdrop=train_macro_weather.dropna(axis=0, how='any')

In [435]:
trainafterdrop.shape

(204, 41)

In [436]:
trainafterdrop.to_csv("trainafterdrop.csv")

In [437]:
test_macro_weather.to_csv("testafterdrop.csv")

In [438]:
del test_macro_weather["Sales(In ThousandDollars)"]

In [439]:
testafterdrop=test_macro_weather.dropna(axis=0, how='any')

In [440]:
del testafterdrop["PartyInPower"]

In [441]:
del trainafterdrop["PartyInPower"]

In [442]:
trainafterdrop.head(5)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Rain,Snow,Fog
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,5,7,4
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,5,2,1
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,5,2,1

In [443]:
testafterdrop.head(5)

,ProductCategory,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Rain,Snow,Fog
0,WomenClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
1,MenClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
2,OtherClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1013.774194,16.000000,13.032258,9.354839,27.193548,11.677419,43.516129,5,8,4
3,WomenClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,1012.857143,15.857143,13.428571,8.892857,26.892857,11.750000,42.142857,3,11,2
4,MenClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,1012.857143,15.857143,13.428571,8.892857,26.892857,11.750000,42.142857,3,11,2

In [444]:
import pandas as pd
holiday=pd.read_excel('Events_HolidaysData.xlsx',sheet_name='Sheet1')

In [445]:
holiday.head(5)

   Year  MonthDate                       Event      DayCategory
0  2009 2001-01-01              New Year's Day  Federal Holiday
1  2009 2019-01-01  Martin Luther King Jr. Day  Federal Holiday
2  2009 2014-02-01             Valentine's Day            Event
3  2009 2016-02-01             Presidents' Day  Federal Holiday
4  2009 2012-04-01               Easter Sunday            Event

In [446]:
from datetime import datetime
months=[]
for month in holiday['MonthDate']:
    stri=month.strftime('%Y-%m-%d')
    months.append((datetime.strptime(stri, '%Y-%m-%d')).month)

In [447]:
holiday["MonthDate"]=months

In [448]:
holiday['Year-Month']=holiday['Year'].astype(str)+'-'+holiday['MonthDate'].astype(str)

del holiday['Year']
del holiday['MonthDate']

In [449]:
holiday.head(5)

                        Event      DayCategory Year-Month
0              New Year's Day  Federal Holiday     2009-1
1  Martin Luther King Jr. Day  Federal Holiday     2009-1
2             Valentine's Day            Event     2009-2
3             Presidents' Day  Federal Holiday     2009-2
4               Easter Sunday            Event     2009-4

In [450]:
import numpy as np
f1 = ['Event']

#Applying One-hot encoding for features
f1D = pd.get_dummies(holiday[f1].values.ravel())
holiday = pd.concat([holiday, f1D], axis=1)
f1 = ['DayCategory']
del holiday['Event']

In [451]:
def HolidayAgregator(data):
    data_mod = data.groupby('Year-Month').sum()
    #del data_mod["DayCategory"]
    return data_mod

In [452]:
holiday_mod=HolidayAgregator(holiday)

In [453]:
holiday_mod.shape

(81, 23)

In [454]:
holiday_mod.to_csv("holidayfinal.csv")

In [455]:
import pandas as pd
holiday_final=pd.read_csv("holidayfinal.csv")

In [456]:
holiday_final

,Year-Month,'Christmas Day' observed,'Independence Day' observed,'New Year's Day' observed,Christmas Day,Christmas Eve,Columbus Day (Most regions),Day After Christmas Day,Easter Sunday,Election Day,...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,2009-1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
1,2009-10,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2009-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,2009-12,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2009-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
5,2009-4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,2009-5,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
7,2009-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,2009-7,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,2009-9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2010-1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
11,2010-10,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,2010-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
13,2010-12,1,0,1,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
14,2010-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
15,2010-4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16,2010-5,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
17,2010-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,2010-7,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,2010-9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,2011-1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
21,2011-10,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,2011-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
23,2011-12,1,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
24,2011-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
25,2011-4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26,2011-5,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
27,2011-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,2011-7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,2011-9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,2014-10,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,2014-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
53,2014-12,0,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
54,2014-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
55,2014-4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
56,2014-5,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
57,2014-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,2014-7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59,2014-9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,2015-1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
61,2015-10,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
62,2015-11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
63,2015-12,0,0,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
64,2015-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
65,2015-4,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
66,2015-5,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
67,2015-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,2015-7,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
69,2015-9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,2016-1,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
71,2016-10,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,2016-11,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
73,2016-12,1,0,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
74,2016-2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
75,2016-3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
76,2016-4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
77,2016-5,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
78,2016-6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,2016-7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,2016-9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [457]:
trainafterdrop_hol=trainafterdrop.merge(holiday_final,how='outer',on=['Year-Month'])
trainafterdrop_hol.head(5)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [562]:
testafterdrop_hol=testafterdrop.merge(holiday_final,how='outer',on=['Year-Month'])
testafterdrop_hol.head(5)

,ProductCategory,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,WomenClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MenClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OtherClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WomenClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,MenClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [563]:
trainafterdrop_hol.shape

(225, 63)

In [564]:
testafterdrop_hol.shape

(107, 62)

In [565]:
trainafterdrop_hol.fillna(0)

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,OtherClothing,859.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6,WomenClothing,2256.0,2009-3,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,MenClothing,542.0,2009-3,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,OtherClothing,921.0,2009-3,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,WomenClothing,2662.0,2009-4,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,MenClothing,669.0,2009-4,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,OtherClothing,914.0,2009-4,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,WomenClothing,2732.0,2009-5,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MenClothing,650.0,2009-5,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,OtherClothing,989.0,2009-5,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,WomenClothing,2220.0,2009-6,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,MenClothing,607.0,2009-6,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,OtherClothing,932.0,2009-6,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,WomenClothing,2164.0,2009-7,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,MenClothing,575.0,2009-7,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,OtherClothing,901.0,2009-7,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,WomenClothing,2371.0,2009-8,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,MenClothing,551.0,2009-8,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,OtherClothing,865.0,2009-8,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,WomenClothing,2421.0,2009-9,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,MenClothing,579.0,2009-9,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,OtherClothing,819.0,2009-9,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,WomenClothing,2579.0,2009-10,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,MenClothing,610.0,2009-10,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,OtherClothing,914.0,2009-10,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,WomenClothing,4434.0,2014-10,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,MenClothing,757.0,2014-10,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,OtherClothing,1153.0,2014-10,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,WomenClothing,4525.0,2014-11,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
199,MenClothing,803.0,2014-11,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
200,OtherClothing,1468.0,2014-11,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
201,WomenClothing,5664.0,2014-12,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
202,MenClothing,1070.0,2014-12,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
203,OtherClothing,1967.0,2014-12,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
204,0,0.0,2015-1,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
205,0,0.0,2015-10,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
206,0,0.0,2015-11,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
207,0,0.0,2015-12,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
208,0,0.0,2015-2,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
209,0,0.0,2015-4,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
210,0,0.0,2015-5,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0,0.0,2015-6,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,0,0.0,2015-7,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
213,0,0.0,2015-9,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
214,0,0.0,2016-1,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
215,0,0.0,2016-10,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
216,0,0.0,2016-11,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
217,0,0.0,2016-12,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
218,0,0.0,2016-2,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
219,0,0.0,2016-3,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220,0,0.0,2016-4,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
221,0,0.0,2016-5,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
222,0,0.0,2016-6,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
223,0,0.0,2016-7,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224,0,0.0,2016-9,0.000000,0.000000,0.000,0.0,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [566]:
#trainafterdrop_hol_drop=trainafterdrop_hol.drop("2015" in trainafterdrop_hol["Year-Month"])
trainafterdrop_hol_drop = trainafterdrop_hol[~trainafterdrop_hol["Year-Month"].str.contains('2015')]
trainafterdrop_hol_drop = trainafterdrop_hol_drop[~trainafterdrop_hol_drop["Year-Month"].str.contains('2016')]

In [567]:
testafterdrop_hol= testafterdrop_hol[testafterdrop_hol["Year-Month"].str.contains('2015')]

In [568]:
#testafterdrop_hol.fillna(0,inplace=True)

In [569]:
testafterdrop_hol

,ProductCategory,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,WomenClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MenClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OtherClothing,2015-1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WomenClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,MenClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,OtherClothing,2015-2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6,WomenClothing,2015-3,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,MenClothing,2015-3,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OtherClothing,2015-3,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,WomenClothing,2015-4,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
10,MenClothing,2015-4,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
11,OtherClothing,2015-4,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12,WomenClothing,2015-5,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,?,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MenClothing,2015-5,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,?,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,OtherClothing,2015-5,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,?,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,WomenClothing,2015-6,18188.642468,16521.301886,261.512,5.3,12.04,9.69,24.77,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,MenClothing,2015-6,18188.642468,16521.301886,261.512,5.3,12.04,9.69,24.77,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,OtherClothing,2015-6,18188.642468,16521.301886,261.512,5.3,12.04,9.69,24.77,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,WomenClothing,2015-7,18163.857992,16475.999854,261.199,5.2,12.04,9.69,24.83,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,MenClothing,2015-7,18163.857992,16475.999854,261.199,5.2,12.04,9.69,24.83,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,OtherClothing,2015-7,18163.857992,16475.999854,261.199,5.2,12.04,9.69,24.83,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,WomenClothing,2015-8,18201.392888,16505.537615,261.347,5.1,12.10,9.80,25.04,?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,MenClothing,2015-8,18201.392888,16505.537615,261.347,5.1,12.10,9.80,25.04,?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,OtherClothing,2015-8,18201.392888,16505.537615,261.347,5.1,12.10,9.80,25.04,?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,WomenClothing,2015-9,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,MenClothing,2015-9,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,OtherClothing,2015-9,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,?,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,WomenClothing,2015-10,18278.304270,16540.859723,261.515,5.0,12.10,9.80,25.14,183,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,MenClothing,2015-10,18278.304270,16540.859723,261.515,5.0,12.10,9.80,25.14,183,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,OtherClothing,2015-10,18278.304270,16540.859723,261.515,5.0,12.10,9.80,25.14,183,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,WomenClothing,2015-11,18266.244605,16524.199494,261.009,5.0,12.22,9.66,25.38,?,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
31,MenClothing,2015-11,18266.244605,16524.199494,261.009,5.0,12.22,9.66,25.38,?,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
32,OtherClothing,2015-11,18266.244605,16524.199494,261.009,5.0,12.22,9.66,25.38,?,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
33,WomenClothing,2015-12,18317.129125,16578.004544,259.941,5.0,12.22,9.66,25.21,?,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
34,MenClothing,2015-12,18317.129125,16578.004544,259.941,5.0,12.22,9.66,25.21,?,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
35,OtherClothing,2015-12,18317.129125,16578.004544,259.941,5.0,12.22,9.66,25.21,?,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [570]:
#trainafterdrop_hol_drop['Event'].fillna((trainafterdrop_hol_drop['Event'].mean()), inplace=True)
#trainafterdrop_hol_drop['Event'].fillna((0), inplace=True)
#filling the events that are na with 0 , since there are no events/holidays in those rows

In [571]:
#testafterdrop_hol['Event'].fillna((testafterdrop_hol['Event'].mean()), inplace=True)
#testafterdrop_hol['Event'].fillna((0), inplace=True)
#testafterdrop_hol
#filling the events that are na with 0 , since there are no events/holidays in those rows

In [572]:
trainafterdrop_hol_drop

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
5,OtherClothing,859.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6,WomenClothing,2256.0,2009-3,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,MenClothing,542.0,2009-3,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OtherClothing,921.0,2009-3,14340.701639,14351.786822,235.067,8.7,12.97,11.05,22.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,WomenClothing,2662.0,2009-4,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,MenClothing,669.0,2009-4,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,OtherClothing,914.0,2009-4,14326.815525,14351.601731,235.582,9.0,12.97,11.05,22.13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,WomenClothing,2732.0,2009-5,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MenClothing,650.0,2009-5,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,OtherClothing,989.0,2009-5,14345.904809,14368.123959,235.975,9.4,13.32,11.25,22.04,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,WomenClothing,2220.0,2009-6,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,MenClothing,607.0,2009-6,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,OtherClothing,932.0,2009-6,14348.530666,14346.820106,237.172,9.5,13.32,11.25,21.96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,WomenClothing,2164.0,2009-7,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,MenClothing,575.0,2009-7,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,OtherClothing,901.0,2009-7,14317.372922,14345.676097,237.600,9.5,13.32,11.25,22.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,WomenClothing,2371.0,2009-8,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,MenClothing,551.0,2009-8,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,OtherClothing,865.0,2009-8,14424.284901,14435.812509,238.282,9.6,13.71,10.89,22.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,WomenClothing,2421.0,2009-9,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,MenClothing,579.0,2009-9,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,OtherClothing,819.0,2009-9,14410.777177,14425.972752,238.568,9.8,13.71,10.89,22.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,WomenClothing,2579.0,2009-10,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,MenClothing,610.0,2009-10,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,OtherClothing,914.0,2009-10,14596.605447,14595.393094,238.380,10.0,13.71,10.89,22.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,MenClothing,636.0,2014-2,17028.586348,15762.598920,259.019,6.7,11.83,10.09,24.58,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
175,OtherClothing,1123.0,2014-2,17028.586348,15762.598920,259.019,6.7,11.83,10.09,24.58,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
176,WomenClothing,4268.0,2014-3,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,MenClothing,702.0,2014-3,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,OtherClothing,1293.0,2014-3,17109.777026,15804.519068,259.971,6.7,11.83,10.09,24.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,WomenClothing,4223.0,2014-4,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
180,MenClothing,785.0,2014-4,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
181,OtherClothing,1196.0,2014-4,17208.864684,15870.178053,259.985,6.2,11.83,10.09,24.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
182,WomenClothing,4421.0,2014-5,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183,MenClothing,801.0,2014-5,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
184,OtherClothing,1257.0,2014-5,17345.334028,15946.741336,261.225,6.3,11.83,9.57,24.30,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185,WomenClothing,3905.0,2014-6,17408.564289,15990.977418,261.350,6.1,11.83,9.57,24.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
186,MenClothing,702.0,2014-6,17408.564289,15990.977418,261.350,6.1,11.83,9.57,24.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187,WomenClothing,3733.0,2014-7,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188,MenClothing,655.0,2014-7,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
189,OtherClothing,1175.0,2014-7,17551.781065,16089.499187,261.498,6.2,11.83,9.57,24.31,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,WomenClothing,4067.0,2014-8,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,MenClothing,692.0,2014-8,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,OtherClothing,1337.0,2014-8,17684.635349,16196.420132,261.075,6.2,11.82,10.73,24.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,WomenClothing,4481.0,2014-9,17630.354586,16133.049427,261.074,5.9,11.82,10.73,24.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194,OtherClothing,1056.0,2014-9,17630.354586,16133.049427,261.074,5.9,11.82,10.73,24.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195,WomenClothing,4434.0,2014-10,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,MenClothing,757.0,2014-10,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
197,OtherClothing,1153.0,2014-10,17709.436967,16196.814474,260.500,5.7,11.82,10.73,24.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
198,WomenClothing,4525.0,2014-11,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
199,MenClothing,803.0,2014-11,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
200,OtherClothing,1468.0,2014-11,17765.337570,16243.054734,259.382,5.8,11.99,10.47,24.78,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
201,WomenClothing,5664.0,2014-12,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
202,MenClothing,1070.0,2014-12,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
203,OtherClothing,1967.0,2014-12,17733.024464,16221.180125,258.080,5.6,11.99,10.47,24.59,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [573]:
#fill with 0 n 1
#val=[]
#for col in trainafterdrop_hol_drop['Event']:
 #   if col >0:
  #      val.append(1)
  #  else:
   #     val.append(0)
#trainafterdrop_hol_drop['Event']=val

In [574]:
trainafterdrop_hol_drop.head()

,ProductCategory,Sales(In ThousandDollars),Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,...,Martin Luther King Jr. Day,Memorial Day,Mother's Day,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day
0,WomenClothing,1755.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,MenClothing,524.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OtherClothing,936.0,2009-1,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,WomenClothing,1729.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
4,MenClothing,496.0,2009-2,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [575]:
trainafterdrop_hol_drop.to_csv("trainafter_mac_hol_weather_fillna.csv")

In [576]:
trainafterdrop_hol_drop.keys()

Index(['ProductCategory', 'Sales(In ThousandDollars)', 'Year-Month',
       'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
       'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
       'Humidity (%) high', 'Humidity (%) avg', 'Humidity (%) low',
       'Sea Level Press. (hPa) high', 'Sea Level Press. (hPa) avg',
       'Sea Level Press. (hPa) low', 'Visibility (km) high',
       'Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
       'Wind (km/h) avg', 'Wind (km/h) high', 'Rain', 'Snow', 'Fog',
       ''Christmas Day' observed', ''Independence Day' observed',
       ''New Year's Day' observed', 'Christmas Day', 'Christmas Eve',
       'Columbus Day (Most regions)', 'Day After Christmas Day',
       'Easter Sunday', 'Election Day', 'Father's Day', 'Halloween',
       'Independence Day', 'Labor Day', 'Martin Luther King Jr. Day',
       'Memorial Day', 'Mother's Day', 'New Year's Day', 'New Year's Eve',
       'Presidents' Day', 'Thanksgiving Day', 'Thomas Jefferson's Birthday',
       'Valentine's Day', 'Veterans Day'],
      dtype='object')

In [577]:
#testafterdrop_hol.dropna(axis=0, how='any')

In [578]:
del trainafterdrop_hol_drop["Year-Month"]
del testafterdrop_hol["Year-Month"]

In [579]:
import pandas as pd
trainafterdrop_hol_drop_encoded=pd.get_dummies(trainafterdrop_hol_drop, columns=["ProductCategory"])
testafterdrop_hol_encoded=pd.get_dummies(testafterdrop_hol, columns=["ProductCategory"])

In [580]:
testafterdrop_hol_encoded.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),...,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
2,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
3,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,1
4,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,0,0

In [581]:
#testafterdrop_hol_encoded=testafterdrop_hol_encoded.dropna(axis=0, how='any')

In [582]:
testafterdrop_hol_encoded

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),...,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
2,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,?,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
3,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,1
4,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,0,0
5,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,?,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,1,0
6,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,?,69.35,-0.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
7,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,?,69.35,-0.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
8,17900.981857,16329.523792,259.647,5.4,11.98,9.85,25.04,?,69.35,-0.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
9,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,?,71.70,3.39,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,0,1
10,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,?,71.70,3.39,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1,0,0
11,18015.748120,16427.136671,259.959,5.4,11.98,9.85,24.94,?,71.70,3.39,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,1,0
12,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,?,72.86,1.62,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
13,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,?,72.86,1.62,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
14,18075.281412,16434.482376,261.066,5.5,12.04,9.69,24.88,?,72.86,1.62,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
15,18188.642468,16521.301886,261.512,5.3,12.04,9.69,24.77,?,72.35,-0.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
16,18188.642468,16521.301886,261.512,5.3,12.04,9.69,24.77,?,72.35,-0.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
17,18188.642468,16521.301886,261.512,5.3,12.04,9.69,24.77,?,72.35,-0.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
18,18163.857992,16475.999854,261.199,5.2,12.04,9.69,24.83,?,72.35,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
19,18163.857992,16475.999854,261.199,5.2,12.04,9.69,24.83,?,72.35,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
20,18163.857992,16475.999854,261.199,5.2,12.04,9.69,24.83,?,72.35,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
21,18201.392888,16505.537615,261.347,5.1,12.10,9.80,25.04,?,71.82,-0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
22,18201.392888,16505.537615,261.347,5.1,12.10,9.80,25.04,?,71.82,-0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
23,18201.392888,16505.537615,261.347,5.1,12.10,9.80,25.04,?,71.82,-0.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
24,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,?,68.74,-4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
25,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,?,68.74,-4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
26,18317.816120,16601.489879,261.887,5.0,12.10,9.80,25.05,?,68.74,-4.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
27,18278.304270,16540.859723,261.515,5.0,12.10,9.80,25.14,183,69.03,0.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
28,18278.304270,16540.859723,261.515,5.0,12.10,9.80,25.14,183,69.03,0.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
29,18278.304270,16540.859723,261.515,5.0,12.10,9.80,25.14,183,69.03,0.42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
30,18266.244605,16524.199494,261.009,5.0,12.22,9.66,25.38,?,69.22,0.28,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0,0,1
31,18266.244605,16524.199494,261.009,5.0,12.22,9.66,25.38,?,69.22,0.28,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1,0,0
32,18266.244605,16524.199494,261.009,5.0,12.22,9.66,25.38,?,69.22,0.28,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0,1,0
33,18317.129125,16578.004544,259.941,5.0,12.22,9.66,25.21,?,70.39,1.69,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0,1
34,18317.129125,16578.004544,259.941,5.0,12.22,9.66,25.21,?,70.39,1.69,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,0,0
35,18317.129125,16578.004544,259.941,5.0,12.22,9.66,25.21,?,70.39,1.69,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,1,0

In [583]:
trainafterdrop_hol_drop_encoded.shape

(204, 64)

In [584]:
#Converting advertising expenses into float
for key in testafterdrop_hol_encoded.keys():
    if key in ['AdvertisingExpenses (in Thousand Dollars)']:
        testafterdrop_hol_encoded[key] = testafterdrop_hol_encoded[key].convert_objects(convert_numeric=True)

C:\ProgramData\Anaconda3\anakonda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [585]:
#Converting advertising expenses into float
for key in trainafterdrop_hol_drop_encoded.keys():
    if key in ['AdvertisingExpenses (in Thousand Dollars)']:
        trainafterdrop_hol_drop_encoded[key] = trainafterdrop_hol_drop_encoded[key].convert_objects(convert_numeric=True)

C:\ProgramData\Anaconda3\anakonda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [586]:
testafterdrop_hol_encoded['AdvertisingExpenses (in Thousand Dollars)'].fillna((testafterdrop_hol_encoded['AdvertisingExpenses (in Thousand Dollars)'].mean()), inplace=True)

In [587]:
trainafterdrop_hol_drop_encoded['AdvertisingExpenses (in Thousand Dollars)'].fillna((trainafterdrop_hol_drop_encoded['AdvertisingExpenses (in Thousand Dollars)'].mean()), inplace=True)

In [588]:
trainafterdrop_hol_drop_encoded.to_csv("testit.csv")

In [589]:
testafterdrop_hol_encoded.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),...,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,183.0,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,183.0,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
2,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,183.0,67.35,-1.39,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
3,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,183.0,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,1
4,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,183.0,69.84,3.70,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,0,0

In [590]:
#del testafterdrop_hol_encoded["Year-Month"]
#del trainafterdrop_hol_drop_encoded["Year-Month"]

In [591]:
testafterdrop_hol_encoded.dtypes

Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
AdvertisingExpenses (in Thousand Dollars)                            float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                               float64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Temp high (°C)                                                       float64
Temp avg (°C)                                                        float64
Temp low (°C)                                                        float64
Dew Point high (°C)                                                  float64
Dew Point avg (°C)                                                   float64
Dew Point low (°C)                                                   float64
Humidity (%) high                                                    float64
Humidity (%) avg                                                     float64
Humidity (%) low                                                     float64
Sea Level Press. (hPa) high                                          float64
Sea Level Press. (hPa) avg                                           float64
Sea Level Press. (hPa) low                                           float64
Visibility (km) high                                                 float64
Visibility (km) avg                                                  float64
                                                                      ...
Wind (km/h) high                                                     float64
Rain                                                                 float64
Snow                                                                 float64
Fog                                                                  float64
'Christmas Day' observed                                             float64
'Independence Day' observed                                          float64
'New Year's Day' observed                                            float64
Christmas Day                                                        float64
Christmas Eve                                                        float64
Columbus Day (Most regions)                                          float64
Day After Christmas Day                                              float64
Easter Sunday                                                        float64
Election Day                                                         float64
Father's Day                                                         float64
Halloween                                                            float64
Independence Day                                                     float64
Labor Day                                                            float64
Martin Luther King Jr. Day                                           float64
Memorial Day                                                         float64
Mother's Day                                                         float64
New Year's Day                                                       float64
New Year's Eve                                                       float64
Presidents' Day                                                      float64
Thanksgiving Day                                                     float64
Thomas Jefferson's Birthday                                          float64
Valentine's Day                                                      float64
Veterans Day                                                         float64
ProductCategory_MenClothing                                            uint8
ProductCategory_OtherClothing                                          uint8
ProductCategory_WomenClothing                                          uint8
Length: 63, dtype: object

In [592]:
trainafterdrop_hol_drop_encoded.dtypes

Sales(In ThousandDollars)                                            float64
Monthly Nominal GDP Index (inMillion$)                               float64
Monthly Real GDP Index (inMillion$)                                  float64
CPI                                                                  float64
unemployment rate                                                    float64
CommercialBankInterestRateonCreditCardPlans                          float64
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    float64
Earnings or wages  in dollars per hour                               float64
AdvertisingExpenses (in Thousand Dollars)                            float64
Cotton Monthly Price - US cents per Pound(lbs)                       float64
Change(in%)                                                          float64
Average upland planted(million acres)                                float64
Average upland harvested(million acres)                              float64
yieldperharvested acre                                               float64
Production (in  480-lb netweright in million bales)                  float64
Mill use  (in  480-lb netweright in million bales)                   float64
Exports                                                              float64
Temp high (°C)                                                       float64
Temp avg (°C)                                                        float64
Temp low (°C)                                                        float64
Dew Point high (°C)                                                  float64
Dew Point avg (°C)                                                   float64
Dew Point low (°C)                                                   float64
Humidity (%) high                                                    float64
Humidity (%) avg                                                     float64
Humidity (%) low                                                     float64
Sea Level Press. (hPa) high                                          float64
Sea Level Press. (hPa) avg                                           float64
Sea Level Press. (hPa) low                                           float64
Visibility (km) high                                                 float64
                                                                      ...
Wind (km/h) high                                                     float64
Rain                                                                 float64
Snow                                                                 float64
Fog                                                                  float64
'Christmas Day' observed                                             float64
'Independence Day' observed                                          float64
'New Year's Day' observed                                            float64
Christmas Day                                                        float64
Christmas Eve                                                        float64
Columbus Day (Most regions)                                          float64
Day After Christmas Day                                              float64
Easter Sunday                                                        float64
Election Day                                                         float64
Father's Day                                                         float64
Halloween                                                            float64
Independence Day                                                     float64
Labor Day                                                            float64
Martin Luther King Jr. Day                                           float64
Memorial Day                                                         float64
Mother's Day                                                         float64
New Year's Day                                                       float64
New Year's Eve                                                       float64
Presidents' Day                                                      float64
Thanksgiving Day                                                     float64
Thomas Jefferson's Birthday                                          float64
Valentine's Day                                                      float64
Veterans Day                                                         float64
ProductCategory_MenClothing                                            uint8
ProductCategory_OtherClothing                                          uint8
ProductCategory_WomenClothing                                          uint8
Length: 64, dtype: object

In [593]:
#del testafterdrop_hol_encoded["AdvertisingExpenses (in Thousand Dollars)"]
#del trainafterdrop_hol_drop_encoded["AdvertisingExpenses (in Thousand Dollars)"]

In [490]:
testafterdrop_hol_encoded["Monthly Nominal GDP Index (inMillion$)"]= 1000 * testafterdrop_hol_encoded["Monthly Nominal GDP Index (inMillion$)"]

In [491]:
trainafterdrop_hol_drop_encoded["Monthly Nominal GDP Index (inMillion$)"]= 1000 * trainafterdrop_hol_drop_encoded["Monthly Nominal GDP Index (inMillion$)"]

In [492]:
trainafterdrop_hol_drop_encoded["Monthly Real GDP Index (inMillion$)"]= 1000 * trainafterdrop_hol_drop_encoded["Monthly Real GDP Index (inMillion$)"]
testafterdrop_hol_encoded["Monthly Real GDP Index (inMillion$)"]= 1000 * testafterdrop_hol_encoded["Monthly Real GDP Index (inMillion$)"]

In [594]:
trainafterdrop_hol_drop_encoded.head()

,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),...,New Year's Day,New Year's Eve,Presidents' Day,Thanksgiving Day,Thomas Jefferson's Birthday,Valentine's Day,Veterans Day,ProductCategory_MenClothing,ProductCategory_OtherClothing,ProductCategory_WomenClothing
0,1755.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,137.0,57.70,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1
1,524.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,137.0,57.70,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0
2,936.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,137.0,57.70,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0
3,1729.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,200.0,55.21,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0,0,1
4,496.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,200.0,55.21,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1,0,0

In [595]:
del trainafterdrop_hol_drop_encoded["Monthly Real GDP Index (inMillion$)"]
del testafterdrop_hol_encoded["Monthly Real GDP Index (inMillion$)"]

In [596]:
del trainafterdrop_hol_drop_encoded["Monthly Nominal GDP Index (inMillion$)"]
del testafterdrop_hol_encoded["Monthly Nominal GDP Index (inMillion$)"]

In [495]:
#del trainafterdrop_hol_drop_encoded["CPI"]
#del testafterdrop_hol_encoded["CPI"]

In [597]:
trainafterdrop_hol_drop_encoded.fillna(0, inplace=True)
testafterdrop_hol_encoded.fillna(0,inplace=True)

In [598]:
#trainafterdrop_hol_drop_encoded.isnull()
#testafterdrop_hol_encoded.isnull()

In [680]:
feature_col_names=[]
for col in trainafterdrop_hol_drop_encoded.keys():
    if col not in ["Sales(In ThousandDollars)"]:
        if 'high' not in col and 'low' not in col and 'avg' not in col and  'Day After Christmas Day' not in col:
             if 'Veterans Day' not in col and 'observed' not in col and 'Change(in%)' not in col and 'yieldperharvested acre' not in col:
                    if 'Election Day' not in col:
                        feature_col_names.append(col)

In [681]:
feature_col_names

['CPI',
 'unemployment rate',
 'CommercialBankInterestRateonCreditCardPlans',
 'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
 'Earnings or wages  in dollars per hour',
 'AdvertisingExpenses (in Thousand Dollars)',
 'Cotton Monthly Price - US cents per Pound(lbs)',
 'Average upland planted(million acres)',
 'Average upland harvested(million acres)',
 'Production (in  480-lb netweright in million bales)',
 'Mill use  (in  480-lb netweright in million bales)',
 'Exports',
 'Rain',
 'Snow',
 'Fog',
 'Christmas Day',
 'Christmas Eve',
 'Columbus Day (Most regions)',
 'Easter Sunday',
 "Father's Day",
 'Independence Day',
 'Labor Day',
 'Martin Luther King Jr. Day',
 'Memorial Day',
 "Mother's Day",
 "New Year's Day",
 "New Year's Eve",
 "Presidents' Day",
 'Thanksgiving Day',
 "Thomas Jefferson's Birthday",
 "Valentine's Day",
 'ProductCategory_MenClothing',
 'ProductCategory_OtherClothing',
 'ProductCategory_WomenClothing']

In [682]:
#feature_col_names=[]
#for col in trainafterdrop_hol_drop_encoded.keys():
 #   if col not in ["Sales(In ThousandDollars)"]:
  #      feature_col_names.append(col)
        
predicted_clas_names =['Sales(In ThousandDollars)']

X_Train=trainafterdrop_hol_drop_encoded[feature_col_names].values   #predictor feature columns ( 8 X m)
Y_Train=trainafterdrop_hol_drop_encoded[predicted_clas_names].values #predicted class (1=true or 0 is false) (1 X m)
X_Test=testafterdrop_hol_encoded[feature_col_names].values

In [683]:
#split the train into train and mtest

from sklearn.model_selection import train_test_split

split_test_size =0.20  #70 - 30 size

iX_Train, iX_Test, iY_Train , iY_Test =train_test_split(X_Train,Y_Train,test_size=split_test_size,random_state=42)

In [688]:
#gradient boosting
from sklearn.ensemble import GradientBoostingRegressor
import pandas as pd
#Define estimator
#estimator = GradientBoostingRegressor(loss="ls",criterion ="friedman_mse" ,warm_start=True, n_estimators =1000)
estimator = GradientBoostingRegressor(loss="huber",criterion ="friedman_mse" ,warm_start=True ,max_depth=3, n_estimators =10000,learning_rate=0.01)
estimator.fit(iX_Train, iY_Train.ravel())
#estimator.fit(X_Train, Y_Train.ravel())
Y_pred=estimator.predict(iX_Test)

In [689]:
from sklearn.metrics import mean_squared_error
from math import sqrt
import math
rms1 = math.sqrt(mean_squared_error(iY_Test, Y_pred)) 
rms1

233.11322591112292

In [690]:
#gradient boosting
from sklearn.ensemble import GradientBoostingRegressor
import pandas as pd
#Define estimator
#estimator = GradientBoostingRegressor(loss="ls",criterion ="friedman_mse" ,warm_start=True, n_estimators =1000)
estimator = GradientBoostingRegressor(loss="huber",criterion ="friedman_mse" ,warm_start=True ,max_depth=3, n_estimators =10000,learning_rate=0.01)
estimator.fit(X_Train, Y_Train.ravel())
#estimator.fit(X_Train, Y_Train.ravel())
Y_pred=estimator.predict(X_Test)

In [691]:
import pandas as pd 
df = pd.DataFrame(Y_pred)
df.to_csv("Final_prediction.csv")